@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
*::selection{
    background-color: #e92c0b;
    color: aliceblue;
}
body{
    background-color: #fd8700;
    font-weight: 900;
    position: relative;
    padding-bottom: 3em;
}
main{
    padding: 50px;
}
img{
    width: 100%;
}
/*título*/
 .titulo{
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    color: #af250c;
 }
 /*Footer*/
 .pie{
    text-align: center;
    background-color: orangered;
    padding: 1em 0;
    position: absolute;
    width: 100%;
    color: #7c1f1f;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
 }
 .pie li{
   display: inline-block;
   margin-inline: 25px;
 }
.pie li a{
    color: #7c1f1f;
    text-decoration: none;
}
 /*iconos footer*/
 .social{
    width: 35px;
  }
/*servicios y promo*/
.contenedor{
    margin: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor > *{
    flex: 1;
}
.contenedor_titulo{
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    color: #7c1f1f;
}
.contenedor-promo{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "promo1 promo2";
    gap: 5px;
}
.promo1{
    grid-area: promo1;
}
.promo2{
    grid-area: promo2;
}
/*contacto y eventos*/
 .listas{
    background-color: brown;
    color: #fd8700;
    text-align: center;
    background-position: center;
    border: 5px solid red;
    min-inline-size: auto;
 }
.listas ul{
    list-style-type: none;
}
.listas-eventos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .listas_contacto{
    background-color: brown;
    color: #fd8700;
    text-align: center;
    background-position: center;
    border: 5px solid red;
 }
 .listas_contacto a{
    text-decoration: none;
    color: #fd8700;
 }

 /*Imagenes*/
 .mapa{
    margin-top: 4px;
    height: 25vh;
 }
 .img-eventos{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "img1   img2    img3";
    gap: 1rem;
    list-style-type: none;
 }
 .img1{
    grid-area: img1;
 }
 .img2{
    grid-area: img2;
 }
 .img3{
    grid-area: img3;
 }
 @media(max-width: 771px){
    .contenedor{
        display: flex;
        flex-direction: column;
    }
 }
 @media(max-width: 652px){
    .titulo{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1,5rem;
    }
    .img-eventos{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "img1"
        "img2"
        "img3";
    }
    .contenedor-promo{
        width: 70%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "promo1"
        "promo2";
        gap: 1px;
    }
 }
 @media(max-widht: 430px){
    .titulo{
        font-size: 1.5rem;
    }
    .contenedor-promo{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "promo1"
        "promo2";
        column-gap: 1px;
    }
 }