.listas_contacto{
    background-color: brown;
    color: $maincolor;
    text-align: center;
    background-position: center;
    border: 5px solid red;

    a{
        text-decoration: none;
        color: $maincolor;
    }
 }