@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

$fontnunito: 'Nunito', sans-serif;
$fontgochi: 'Gochi Hand', cursive;
$maincolor: #fd8700;
$selectioncolor: #e92c0b;
$titlecolor: #af250c;
$footercolor: #7c1f1f;